
<!-- <!DOCTYPE html> -->
<html>
  <head>
    <title>KindaRight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Josefin+Sans|Linden+Hill' rel='stylesheet' type='text/css'>


  </head>
  <body>
  <!-- NavBar Object -->
  <nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
      <a class="navbar-brand" id="title" href="http://localhost:3000"><logo>KindaRight</logo></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse-1">
      <form class="navbar-form navbar-right" id="login" method="POST" action="/main">
        <div class="form-group">
          <input type="email" class="form-control" name="Email" placeholder="Email" id="user">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" name="Password" placeholder="Password" id="pass">
        </div>
        <button type="submit" class="btn btn-primary" id="loginButton">Log In</button>
        <!-- <button type="submit" class="btn btn-info" data-toggle="modal" data-target="#forgotModal" id="forgotButton">Forgot Password</button> -->
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#createModal" id="createButton">Create Account</button>
      </form>
    </div>
  </nav>
  <!-- End NavBar Object -->

  <!-- Forgot Modal -->
  <div class="modal fade" id="forgotModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body" id="modal-forgot">
          <p id="forgot-text">Please Enter email address to reset your password</p>
          <form class="navbar-form" id="forgot">
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" id="forgotEmailAddress">
            </div>
            <button type="submit" class="btn btn-primary" id="forgotEmail">Send Email</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Forgot Modal -->

   <!-- Create Modal -->
  <div class="modal fade" id="createModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Enter Account Information</h4>
        </div>
        <div class="modal-body" id="modal-create">
          <form class="form-horizontal" id="create" method="POST" action="/create" enctype="multipart/form-data">
            <div class="form-group">
              <label for="createFirstName" class="col-lg-3 control-label">First Name:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="First_Name" placeholder="e.g. Bob" id="createFirstName">
              </div>
            </div>
            <div class="form-group">
              <label for="createLastName" class="col-lg-3 control-label">Last Name:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="Last_Name" placeholder="e.g. Smith" id="createLastName">
              </div>
            </div>
            <div class="form-group">
              <label for="createUsername" class="col-lg-3 control-label">Username:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="Username" placeholder="Enter Username" id="createUsername">
              </div>
            </div>
            <div class="form-group">
              <label for="createEmailAddress" class="col-lg-3 control-label">Email Address:</label>
              <div class="col-lg-8">
                <input type="email" class="form-control" name="Email" placeholder="Enter Email" id="createEmailAddress">
              </div>
            </div>
            <div class="form-group">
              <label for="verifyEmailAddress" class="col-lg-3 control-label">Re-Enter Email:</label>
              <div class="col-lg-8"> 
                <input type="email" class="form-control" placeholder="Re-Enter Email" id="verifyEmailAddress">
              </div>
            </div>
            <div class="form-group">
              <label for="accountPassword" class="col-lg-3 control-label">Password:</label>
              <div class="col-lg-8">
                <input type="password" class="form-control" name="Password" placeholder="Enter Password" id="createPassword">
              </div>
            </div>
            <div class="form-group">
              <label for="verifyAccountPassword" class="col-lg-3 control-label">Password:</label>
              <div class="col-lg-8">
                <input type="password" class="form-control" placeholder="Re-Enter Password" id="verifyPassword">
              </div>
            </div>
            <div class="form-group">
              <label for="createPicture" class="col-lg-3 control-label">Picture:</label>
              <div class="col-lg-8">
                <input type="file" class="form-control" name="picture" id="createPicture">
              </div>
            </div>
            <div class="form-group">
              <label for="discipline" class="col-lg-3 control-label">Discipline:</label>
              <div class="col-lg-8">
                <input type="text" class="form-control" name="discipline" placeholder="e.g. Photographer" id="discipline">
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success" id="createAccountButton">Create Account</button>
          <button type="button" class="btn btn-info" id="cancel" data-dismiss="modal">Cancel</button>
        </div>
      </div>c
    </div>
  </div>
  <!-- End Create Modal -->

  <!-- SWEET PURPLE DIAMOND!! -->
  <!-- <div class="visible-lg">
    <div class="page head">
      <div id="diamond">
        <div id="site_text" class="text">
          <h3 class="center-text">
            Welcome to <logo>KindaRight</logo>. <br />
            Your next favorite work of<br />
            art awaits <br />
            you.
          </h3>
        </div>
      </div>
      <div id="patron_text"  class="text">
        <P>
            Patrons are the <br />artist's customers<br />
            Now, find great art <br />around the world. <br />
            <z class="light-accent">Commission</z> great works. <br />
            <z class="light-accent">Buy</z> amazing art. <br />
            <z class="light-accent">Hire</z> your favorite artist.
        </P>
        <h1>PATRON</h1>
      </div>
      <div id="artist_text"  class="text">
        <p>
          Expand and collaborate<br />
          with artists aroundd the <br />
          world, or around the block
        </p>
        <h1>ARTIST</h1>
      </div>
    </div>
  </div>
  <div class="hidden-lg">
    <div class="page head">
      <h2>Hello, Welcome to KindaRight</h2>
      <p class="Justify">
        This is the best site to connect and collaborate with artists of all disciplines.
      </p>
      <h2>Artists</h2>
      <p class="justify">
        Expand and collaborate with artists around the world, or around the block.
      </p>

      <h2>Patron</h2>
      <p class="justify">
        Patrons are the artist's customers. Now, find great art around the world and commision great works, buy amazing art, and hire your favorite artists
      </p>
    </div>
  </div> -->

  <div class="header page">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1>
            Let us turn the page, <br />
            Let us change the way artists work.
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <h2>
            PATRON
          </h2>
          <P class="justify">
            Personalized features for those who want to buy art and hire artists. <br />
            Integrated into the same network as artists to facilitate communication. <br />
          </P>
        </div>
        <div class="col-md-6 center-text">
          <h2>
            ARTIST
          </h2>
          <P class="justify">
            One location for artists of all disciplines. <br />
            Collaborate online or in person. <br />
            Filter for any sort of art or artist you wish to find. <br />
          </P>
        </div>
      </div>
    </div>
  </div>

<!-- NETWORKING SECTION -->
  <div class="page gradient-bg">
    <h1>What Can I do here?</h1>

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-4">
          <h2>Networking</h2>
          <p class="Justify">
            Expand your network like never before. With the ability to communicate to all artists and all patrons in a single location. Kinda Right offers unprecedented access to how you create, expand, and maintain your network.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Collaboration</h2>
          <p class="Justify">
            Work with people online to create new and exciting things with people around the world, or around the block with by searching and filtering artists by discipline and location. Allowing you to see the poeple in your own area who are creative.
          </p>
        </div>
        <div class="col-md-4">
          <h2>Merit</h2>
          <p class="Justify">
            Advance your standing through your work. Tell us who you want to see more of by voting for their work, and build your  reputation among artists who want to work with you and patrons who want to buy your work and hire your services.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <p class="fine-print center-text">
      Copyright 2014 KindaRight
    </p>
  </div>  

  


  
  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script type="text/javascript" src="/javascripts/home.js"></script>

  <!-- End Script References -->

  </body>
</html>