<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <% include includes/head_common.ejs %>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">

  </head>
  <body>

  	
  
    <!-- NavBar Object -->
	  <% include includes/navbar.ejs %>
  	<!-- End NavBar Object -->
    
    <div class="page dark-head">
      <h3>
        Tags
      </h3>
      <form class="navbar-form" role="search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="tag" id="tagbar">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" id="tagbutton"><span class="glyphicon glyphicon-search"></span></button>
              </div>
            </div>
      </form>
        <div class="fluid-container content-container" id="community">
         <% if (Tags.length) { %>
          <% Tags.forEach(function(name){ %>
            <a href=<%= name + "/view"%>>
                  <!-- <div class="pictures-overlay"></div>
                <div class="inline"> -->
                  <img src=<%=name%> height="150" >
                <!-- </div> -->
                </a>
          <% }) %>
        <% } %>
        </div>
      
      <h3>
        Community
      </h3>
      <div class="fluid-container content-container" id="suggestions">
        <% Pictures.forEach(function(name){ %>
          <a href=<%= name + "/view"%>>
                <!-- <div class="pictures-overlay"></div>
              <div class="inline"> -->
                <img src=<%=name%> height="150" >
              <!-- </div> -->
              </a>
        <% }) %>
      </div>
    </div>

  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <!-- End Script References -->



  </body>
</html>