<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/new_bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/shapes.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/user.css">
    <link href='http://fonts.googleapis.com/css?family=Swanky+and+Moo+Moo|Josefin+Slab|Linden+Hill' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">

  </head>
  <body>
  
  <!-- NavBar Object -->
	  <nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
	      <a class="navbar-brand" id="title" href="http://localhost:3000/main"><logo>KindaRight</logo></a>
	    </div>
	    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	    <form class="navbar-form pull-right" id="logout" method="POST" action="/logout">
	    	<button type="submit" class="btn btn-info" id="accountButton">Account Settings</button>
	        <button type="submit" class="btn btn-success" id="logOutButton">Log Out</button>
	    </form>
		   <div class="col-xs-8 col-sm-6 pull-right">
	        <form class="navbar-form" role="search">
	          <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search" name="search" id="searchbar">
	            <div class="input-group-btn">
	              <button class="btn btn-default" type="submit" id="searchbutton"><span class="glyphicon glyphicon-search"></span></button>
	            </div>
	          </div>
	        </form>
	      </div>
	    </div>
	  </nav>
  	<!-- End NavBar Object -->
  	<div class="page dark-head">
  		
  	    <p id="userId"><%= First_Name %> <%=Last_Name %></p>
		<img src=<%=Profile_Picture %> height="150" width="125">
	    <button type="submit" class="btn btn-info" id="repositoryButton">Create Repository</button>
		<h1>Projects</h1>


		<% if (Repositories.length) { %>
		  <ul id="repos">
		    <% Repositories.forEach(function(name){ %>
		      	<li><div class="folder"><%= name %></div></li>
		    <% }) %>
		  </ul>
		<% } %>
	</div>

  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="../ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <!-- End Script References -->
  </body>
</html>