<!DOCTYPE html>
<html>
  <head>
    <title>KindaRight</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/ui.custom/css/ui-lightness/jquery-ui-1.10.4.custom.min.css">

  </head>
  <body>
  
  <!-- NavBar Object -->
	  <nav class="navbar navbar-inverse" role="navigation">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"></button>
	      <a class="navbar-brand" id="title" href="http://localhost:3000/main">KindaRight</a>
	    </div>
	    <div class="collapse navbar-collapse" id="navbar-collapse-1">
	    <form class="navbar-form pull-right" id="logout" method="POST" action="/logout">
	    	<button type="submit" class="btn btn-info" id="accountButton">Account Settings</button>
	        <button type="submit" class="btn btn-success" id="logOutButton">Log Out</button>
	    </form>
		   <div class="col-xs-8 col-sm-6 pull-right">
	        <form class="navbar-form" role="search">
	          <div class="input-group">
	            <input type="text" class="form-control" placeholder="Search" name="search" id="searchbar">
	            <div class="input-group-btn">
	              <button class="btn btn-default" type="submit" id="searchbutton"><span class="glyphicon glyphicon-search"></span></button>
	            </div>
	          </div>
	        </form>
	      </div>
	    </div>
	  </nav>
  	<!-- End NavBar Object -->
  		<h1>
  			<%=Name%>
  		</h1>
  		<h2>
  			Tags: <%=Tags%>
  		</h2>
        <button type="submit" class="btn btn-success" data-toggle="modal" data-target="#addPicturesModal" id="launchPictureModal">Add Pictures</button>

		<% if (Repo.length) { %>
		  <ul id="repos">
		    <% Repo.forEach(function(name){ %>
		      <li><img src=<%=name%> height="150" width="125"></li>
		    <% }) %>
		  </ul>
		<% } %>


	<!-- Forgot Modal -->
	  <div class="modal fade" id="addPicturesModal">
	    <div class="modal-dialog">
	      <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	          <h4 class="modal-title">Add Pictures</h4>
	        </div>
	        <div class="modal-body" id="modal-add">
	          <p>Please choose all the pictures you would like to add to this gallery</p>
		    <form class="form-horizontal" id="repo_add" method="POST" action="/repository" enctype="multipart/form-data">
		    	<div class="form-group">
	                <input type="text" class="form-control" name="repo_name" id="repo_name"value=<%=Name%> readonly="readonly">
	            </div>
	            <div class="form-group">
	                <input type="text" class="form-control" placeholder="Enter each tag name seperated by a comma" name="tags" id="tags">
	            </div>
	            <div class="form-group">
	                <input type="file" class="form-control" name="repo_pics" id="addPictures" multiple>
	            </div>
	            <button type="submit" class="btn btn-primary" id="addPictures">Add Pictures</button>
	          </form>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
	  <!-- End Forgot Modal -->
  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
  <script src="../../../ui.custom/js/jquery-ui-1.10.4.custom.min.js"></script>
  <script src="../../../js/jquery.cookie.js"></script>
  <script type="text/javascript" src="../../../javascripts/main.js"></script> 
  <!-- End Script References -->
  </body>
</html>