html {
  min-width: 100%;
  min-height: 100%;
  height: 100%;
}

body {
  /*position: relative;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #111;*/
  min-width: 100%;
  height: 100%;

  background: #000;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.jp-type-single {
  margin: 0 auto;
  position: absolute;
  width: 50%;
  padding: 0;
  top: 50%;
}

.jp-audio {
  margin: 0 auto;
  
  width: 50%;
  padding: 0;

  top: 50%;
}
.jp-gui {
  margin: 0 auto;
  
  width: 50%;
  padding: 0;
}

.jp-gui {
  width: 100%;
}

.jp-icons {
  max-height: 50px;
}

.jp-controls {
  margin: 0 auto;
  text-align: center;
  padding: 0;

}

.jp-controls li {
  margin: 0 auto;
  display: inline;
  
}

.jp-progress {
  background: #000;
  width: 50%;
  height: 20px;
  margin: 0 auto;

  border-radius: 10px;
  overflow: hidden;
}

.jp-seek-bar {
  background: #0F0;
  height: 100%;
  width: 20px;

  border-radius: 10px
}

.jp-play-bar {
  position: relative;
  left: 50%;
  background: #F00;
  height: 100%;
  width: 20px;

  border-radius: 10px;
}

.jp-title {
  color: #FFF;
}

.jp-repeat,
.jp-repeat-off {
  color: #FFF;
}



.jp-toggles {
  margin: 0;
  padding: 0;
}

.jp-toggles li {
  display: inline;
}

.jp-repeat, 
.jp-repeat-off {
  margin: 0 auto;
  padding: 0;
}

.jp-volume-bar {
  margin: 0 auto;
  background: #555;
  width: 50%;
  height: 20px;

  border-radius: 10px;
  overflow: hidden;
}

.jp-volume-bar-value {
  background: #0FF;
  width: 20px;
  height: 20px;

  border-radius: 10px;
}

.jp-time-holder {
  
  margin: 0 auto;
  text-align: center;
  color: #FFF
}

.jp-current-time,
.jp-repeat,
.jp-repeat-off,
.jp-duration {
  
  display: inline;
  width: auto;
  color: #FFF;
}

.jp-details {
  margin: 0 auto;
  text-align: center;
}

.cloudcc {
  position:absolute;
  background: rgba(0,0,0,.5) url("../images/texture-bg-translucent.jpg") repeat;
  background-size: 100%;
  top: -50%;
  bottom: -50%;
  right: -50%;
  left: -50%;
  opacity: 1;

  
  -webkit-transition: background 10s;
  -webkit-filter: blur(20px);

}
.cloudcc:hover {
  background: rgba(120,120,120,.5) url("../images/texture-bg-translucent.jpg") repeat;
}



.cloudcw {
  position:absolute;
  background: rgba(255,0,0,1) repeat;
  background-size: 100%;
  top: -50%;
  opacity: 1;
  bottom: -50%;
  right: -50%;
  left: -50%;

  
  -webkit-transition: opacity 10s;
  -webkit-filter: blur(20px);

}





