a {
  color: #00B7FF;
}

html {
	min-width: 100%;
	min-height: 100%;
	height: 100%;
}

body {
	/*position: relative;*/
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*background-color: #111;*/
  min-width: 100%;
  height: 100%;
  /*background: -webkit-linear-gradient(left, #44036f, #111, #111, #111, #111, #111, #44036f);
  background: linear-gradient(left, #44036f, #111, #111, #111, #111, #111, #44036f);*/

/*  background: -webkit-linear-gradient(left, #222, #000, #000, #000, #000, #222);
  background: linear-gradient(left, #222, #000, #000, #000, #000, #222);*/

	background: #000;
}


h1 {
	margin: 0 auto;
	color:  #0FF;
	text-align: center;
	font-family: 'Josefin Sans', serif;
	font-size: 72pt;
	padding-left: 10px;
}

h2 {
	color: #0FF;
	font-size: 28pt;
	font-family: 'Josefin Sans';
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding-bottom: 10px;
}

h3 {
	color: #FFF;
	font-size: 24pt;
	font-family: 'Josefin Sans', serif;
}

li {
		list-style: none;
}

logo {
	font-family: 'Swanky and Moo Moo', cursive;
	color: #fff;
	font-style: normal;
}

p {
	color: #FFF;
	font-size: 3rem;
	font-family: 'Linden Hill', serif;
}

.full-width {
	width: 100%;
}
.full-height {
	height: 100%;
}

.center {
	text-align: center;
}

.center-image {
	position: relative;
	text-align: center;
	padding-bottom: 20px;

	

}

.column {
	float: left;
	text-align: justify;
	display: inline-block;
	width: 40%;
	height: 100%;
	
	padding: 10px;
}

.content-container {
	width: 100%;
	min-height: 100px;
	border: #000 solid 1px;
	border-left: #aaa solid 5px;
	background: #222;
	
	/*-webkit-box-shadow: 0px 0px 12px 1px #000 inset;*/
}

.gradient-bg {
	background: -webkit-linear-gradient(left, #000, #222, #000);
	background: linear-gradient(left, #000, #222, #000);
}

.texture-bg {
	background: rgba(0,0,0,.5) url("../images/texture-bg-translucent.jpg") repeat;
}



.page {
	position: relative;
	
	min-height: 100%;
	overflow: hidden;
	
	background: #000;
	padding: 10px;
	padding-left: 2%;
	padding-right: 2%;
	margin-top: 0;
	margin-left: 14%;
	margin-right: 14%;
}

.dark-head {
	min-height: 30%;
	margin: 0;
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 80px;
	background: #006;
}

.accent-head {
	
	padding-top: 80px;
	background: #44036f;
	margin: 0;
	padding-bottom: 10px;
	padding-left: 16%;
	min-height: 30%;
	min-height: 30%;
	/*max-height: 50%;*/

	background: url("../images/texture-bg.jpg") repeat;
}



.fine-print {
	font-size: 14pt;
	color: #FFF;
}


.footer {
	margin: 0 auto;
	min-height: 20%;
	padding-top: 2%;
	background: #444;
}

.folder {
	text-align: center;	
	padding-top: 47%;
	display: inline-block;
	background: url("../images/folder-black.png") no-repeat center center;
	background-size: 100%;
	color: #0FF;
	margin: 10px;
	width: 300px;
	height: 300px;
}

.grey-border {
	border: #555 solid 1px;
}



.inline {
	display: inline-block;
}

.justify {
	text-align: justify;
}

.light-accent {
	color: #C19ADB;7
}

.head {
	padding-top: 80px;
}

.header {
	/*margin: 0 auto;*/

	padding-top: 80px;
	min-height: 100%;
	
	background: #fff  url('../images/splash.jpg') no-repeat fixed right top;
	background-size: 100%;
	
	
}

.picture {
	/*width: 24%;*/
	/*height: 24%;*/
	margin: 10px;
}

.picture-sm {
	height: 24%;
}

.pictures-overlay {
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0, .2);
	/*opacity: 0;*/

	/*border-radius: 10px;*/
	top: 0px; 
	left: 0px;
	width: 100%;
	height: 100%;

	-webkit-box-shadow: 0px 0px 10px 1px #000 inset;
	-webkit-transitiion: -webkit-box-shadow .5s ease-out;	

	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;

	/*-webkit-transitiion: opacity 1s ease-out;	*/
	
} 	
.pictures-overlay:hover {
	-webkit-box-shadow: 0px 0px 20px 10px #000 inset;
	opacity: 1;
	background-color: rgba(0,0,0, 0);

	text-decoration: none;
	list-style: none;
	
}

.picture-column {
	vertical-align: top;
	width: 24%;
	margin-left: .3%;
	margin-right: .3%;
}

.list-overlay {
	position: absolute;
	z-index: 1;
	background-color: rgba(0,0,0, .3);
	/*opacity: 0;*/

	/*border-radius: 10px;*/
	top: 0px; 
	left: 0px;
	width: 100%;
	height: 100%;
	
	border-left: #999 solid 5px;
	-webkit-transition: border-left .5s ease-out;


	/*-webkit-box-shadow: 0px 0px 20px 10px #111 inset;
	-webkit-transitiion: -webkit-box-shadow .5s ease-out;	*/

	-webkit-transition: background-color .5s ease-out;
	-moz-transition: background-color .5s ease-out;
	-o-transition: background-color .5s ease-out;
	transition: background-color .5s ease-out;

	/*-webkit-transitiion: opacity 1s ease-out;	*/
	
} 	
.list-overlay:hover {
	/*-webkit-box-shadow: 0px 0px 20px 10px #000 inset;*/
	opacity: 1;
	background-color: rgba(0,0,0, 0);

	text-decoration: none;
	list-style: none;
	
	border-left: 0px;
}

.right {
	float: right;
}
.relative {
	position: relative;
}

.tags {
	margin-top:10px;
}

.scrawl {
	font-family: 'Swanky and Moo Moo', cursive;
	color: #fff;
	font-style: normal;
}

.blue-fg {
	color: #0FF;
}
.image-container {
	position: relative;
	margin: 0 auto;
}

.comment-container {
	position: absolute;
	
	padding: 10px;
	background: #111;
	top: 60px;
	right: 0%;
	left: 70%;
	bottom: 0%;
}

.image-page {
	width: 100%;
	height: 100%;	
	position: relative;
	margin: auto;
	background-size: 100%;

	-webkit-filter: blur(50px);
	filter: blur(50px);

}

.dark-layer {
	position: absolute;

	left: -10%;
	top: 0px;
	bottom: -60px;
	right: 5%;
	/*background: rgba(0,0,0, .7);*/

	background: -webkit-radial-gradient(rgba(0,0,0, 0.4) 00%, rgba(0,0,0, 0.8) 50%);
	background: radial-gradient(rgba(0,0,0, 0.4) 0%, rgba(0,0,0, 0.8) 50%);


}

.main-page-thumbnail {
	margin: 10px;
	text-align: center;

}


.content-area {
position: absolute;
top: 50px;
bottom: 0;
}
.mask {
position: relative;
height: 100%;
min-height: 100%;
background: url("/images/mask.png") bottom;
background-size: 100%;

-webkit-transition: top 1s linear;
/*-webkit-transition: background 1s linear;*/
}

#intro {
background: url("/images/intro.jpg") no-repeat center;
background-size: 100% 100%;
top: 0%;
}
#one {
background: url("/images/mask.png") bottom center;
background-size: 100% 100%;
border: #000 solid 50px;
}

#two {
background: url("/images/slide2.png") center;
background-size: 100%;
}
#three {
background: url("/images/slide3.png") center;
background-size: 100%;
}

#loginButton {
	padding-left: 15px;
}

#create-formgroup {
	padding: 15px;
	width: 300px;
}

#modal-forgot {
	text-align: center;
}

#modal-create {
	text-align: center;
}

#repo {
	background-color: gray;
}

#settings_form {
	background-color: white;
}

#title {
	font-size: 35px;
	font-style: italic;
}

#userId {
	font-size: 55px;
	color: white;
}

#repos {
	padding: 0px;
}

#repo {
	width: 100%;
	
}

#repo_form {
	margin-top: 20px;
}

#repo_list {
	width: 200px;
	height: 250px;
	color: #fff;
	background-color: #333;

	margin-right: 20px;
	margin-bottom: 20px;

	text-align: center;
	padding-top: 200px;
}

#repositoryButton {
	width: 200px;
	height: 250px;
	color: #fff;
	background: #333  url("../images/add.png"); 

	margin-right: 20px;

	text-align: center;
	padding-top: 200px;
}

#chat_message {
	background: #333;
	color: #FFF;

	border: #222 solid 1px;
}

#chatPanel {
	background: #222;
	border: #222 solid 1px;
}

#pic_test {
	position: absolute;
	max-width: 100%;
	max-height: 100%;

	margin: 0%;
}