body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00B7FF;
}

logo {
	font-family: 'Swanky and Moo Moo', cursive;
	color: #fff;
	font-style: normal;
}

p {
	color: #FFF;
	font-size: 36pt;
	font-family: 'Josefin Slab', serif;
}

h1 {
	color:  #FFF;
	font-family: 'Linden Hill', serif;
	font-size: 72pt;
}

h3 {
	color: #FFF;
	font-size: 50pt;
	font-family: 'Josefin Slab', serif;
}

#title {
	font-size: 35px;
	font-style: italic;
}

#modal-forgot {
	text-align: center;
}

#modal-create {
	text-align: center;
}

#create-formgroup {
	padding: 15px;
	width: 300px;
}

#loginButton {
	padding-left: 15px;
}

#userId {
	font-size: 55px;
	color: white;
}


#settings_form {
	background-color: white;
}

#repo {
	background-color: gray;
}

.center-text {
	text-align: center;
}

.light-accent {
	color: #8F55B7;
}

.page {
	
	min-height: 97%;	
	overflow: hidden;
	
	margin-bottom: 3%;
}

.head {
	padding: 5%;
}

.column {
	float: left;
	
	display: inline-block;
	width: 50%;
	height: 100%;

	padding: 10px;
}

.folder {
	text-align: center;	
	padding: 98px;
	display: inline-block;
	background: #F00 url("../images/folder.jpg");
	color: #F00;
	margin: 10px;
	width: 200px;
	height: 200px;
}

